{% extends 'base.html' %}
{% block title %} About Us {% endblock %}
{% block body %}

<div class="row">
  <div class="col-md-4">
    <div class="kjk">
      <h1>Awards</h1>
      <ul>
        <li><a href="#">2<sup>nd</sup> Best School in kwara State</a></li>
        <li><a href="#">1<sup>st</sup> Position in Zonal kwara State Competition</a></li>
        <li><a href="#">2<sup>nd</sup> Best School in kwara State</a></li>
        <li><a href="#">2<sup>nd</sup> Best School in kwara State</a></li>
        <li><a href="#">2<sup>nd</sup> Best School in kwara State</a></li>

      </ul>

    </div>

  </div>
<div class="col-md-8">
  <h1>About Us</h1>
  <p>KeyStone was established in the year 2019 by <b>Mr. Ayodele Samuel Adebayo</b> during his
  <strong>Web Development Project using Django and Bootstrap for the first time</strong>.<br>
  In KeyStone we are interested in building the future developers in IT,Economist Expert and Commercial Analyst <em>across the world</em></p>
</div>
</div>

{% endblock %}
