


<!-- FOOTER START -->
<footer>
    <div class="row">
        
    <div class="col-md-4">
    <div class="connectwithus">
    <h2 class="">CONNECT WITH US</h2>
    
    <p>KeyStone College, Main Campus, Omu-Aran, Kwara State, Nigeria</p>
    
    <p>+ 234(0) 701 452 5696</p>
    
    <p>+ 234(0) 708 766 1935</p>
    
    <p>registrar@keystonecollege.edu.ng</p>
    </div>
    </div>
    <div class="col-md-4">
        <p>Designed & Development by: Walk-In Technologies<strong>(Uncle_BigBay)</strong></p>
        <p>&copy; 2020</p>
        <section><p>Contact Information:</p>
            <strong>E-mail</strong>
            <a href="mailto:unclebigbay@gmail.com">Ayodele Samuel Adebayo</a>
            <strong>Facebook</strong><a href="https://facebook.com/unclebay">Unclebay</a>
        </section>
        
    </div>
    <div class="col-md-4">
        <div class="connectwithus">
        <h2>QUICK ACCESS</h2>
        <p><a href="#">Admission</a></p>
            <p><a class="connectwithus" href="#"> Student Portal</a></p>
            <p><a href="#"  >Parents</a></p>
            <p><a href="#"  >Publications</a></p>
            </div>
    </div>
    </div>
    </footer>