{% extends 'base.html' %}


{% block title %} Keystone College:::HOME {% endblock %}
<body>
    {% block body %}

<section class='keystoneimg'>
<figure>
<img src="static/img/keyimg.jpg" width="1349" alt="school images" class="img"/>
<figcaption style="text-align:center; font-size:14px;">The KeyStone College Entrance</figcaption>
</figure>
</section>
<div class="row">
    <div class="col-md-4">
<h3 style="font-size:22px; text-align:justify;">Academics Links</h3>
<ul>
<li><a  class="links" href="">School Buildings</a></li>
<li><a href="">Journals and Publications</a></li>
<li><a href="">Our Programmes</a></li>
<li><a href="">Vacancies</a></li>
<li><a href="">Study Materials</a></li>
<li><a href="">Online Counseling</a></li>
<li><a href="">Contact Us</a></li>
</ul>
</div>
<div class="col-md-4">
<h2>Our Vision</h2>
<p><span>To become a world class and Nigeria's leading University recognized for it s excellence in
 capacity building and service delivery.</span></p>
</div>
<div class="col-md-4">
<h2>Our Mission</h2>
<p><span>As a specialized University we are committed to the training of skilled and innovative work-force
that would transform Nigeria's natural resources into goods and services driven by
entrepreneurship and Information and Communication Technology (ICT), to positively affect the
economy and thus the quality of life of her people.</span></p>
</div>
</div>
<div class="">
<h1>About Us</h1>
<p>KeyStone was established in the year 2019 by <b>Mr. Ayodele Samuel Adebayo</b> during his
    <strong>Web Development Project</strong>.<br/><br/>
    In KeyStone we are interested in building the future developers in IT <em>across the world</em></p>
</div>

{% endblock %}
</body>
</html>
