{% load static %}


<header>

    <h1>KeyStone College</h1>
    <hr />
    <aside style="font-size:13px;"><i>Creating new hands in Technology</i></aside>
    </header>

    <div class="keymenu" id="keymyTopnav">
      <a href="{% url 'index' %}" class="keyactive">HOME</a>
      <div class="keydropdown">
        <button class="keydropbtn">PORTALS

        </button>
        <div class="keydropdown-content">
          <a href="{% url 'staff' %}">Staffs</a>
          <a href="{% url 'student' %}">Students</a>
        </div>
      </div>

      <div class="keydropdown">
        <button class="keydropbtn">LIBRARY
        </button>
        <div class="keydropdown-content">

          <a href="#">E-library</a>
          <a href="#">School Library</a>
        </div>
        </div>
      <div class="keydropdown">
        <button class="keydropbtn">DEPARTMENTS

        </button>
        <div class="keydropdown-content">
          <a href="{% url 'science' %}">Science</a>
          <a href="{% url 'art' %}">Art</a>
          <a href="{% url 'commercial' %}">Commercial</a>
        </div>
      </div>
      <a href="{% url 'admission' %}">ADMISSION</a>
     <a href="{% url 'contact' %}">CONTACT</a>
     <a href="{% url 'about' %}">ABOUT</a>

    <input type="text" placeholder="Search..">
    </div>
