body {
  margin:0;
	font-family:Arial;
	}
.keystoneimg{
	/* to shift the img down from overlaying with the header*/
padding: px;
margin-top:0px;
}
hr{
border-color:yellow;
width:px;
}

.img{
border-radius:8px;
border:1px solid white;
height:auto;
padding-left:7%;
}
.mg{
color: red;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  left, middle, right {
    width: 100%;
    height: auto;
  }
}
