body {
  margin:0;
	font-family:serif;
	}
.link a{
  text-decoration: none;
  color: green;
}
.link a:hover{
  color: hotpink;
  background-color: ;
  text-decoration: none;
}
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  left, middle, right {
    width: 100%;
    height: auto;
  }
}
li{
  padding:9px;
}
